/* css for listings */
// all listings, single & boxed (for archive, search & similar)
.property_unit_action .icon-fav { // dont show favorite icon
  display: none;
}
.property_status.status_verified { // dont show verified label.
  display: none;
}
// archive - boxed used for search listing, archive & similar listings

.listing_wrapper {
  .single-content.listing-content {
    .property_page_container  {
      display: none; // hide padding, etc for booking calendar box -  not showing
    }
  }
  .property_listing  {
    .listing-unit-img-wrapper {
    }

    .title-container {
      .price_unit_wrapper {
        top: 0px;
        .price_unit {
          font-size: 1.1em;
        }
      }

      .category_name {
        a {
          padding-right: 0px;
          margin-right: 0px;
        }
      }
    }
  }
  .listingsidebar2.listing_type_1 {
    #listing_owner {
      display: none; // hide box around listing owner (which isnt displayed anyway)
    }
  }

}
 // archive flips to image on top at 667
@media only screen and (min-width: 668px) {
  .listing_wrapper {
    .property_listing  {
      .listing-unit-img-wrapper {
        //max-width: 275px; // not necessary, i think, max height does the trick.  may have to revisit
      }
    }
  }
}
// half map archive
@media only screen and (min-width: 668px) {
  #google_map_prop_list_sidebar {
    .ajax-map {
      .property_listing  {
        .listing-unit-img-wrapper {
          img {
            max-width: 270px;
          }
        }
        .category_tagline_wrapper {
          position: relative; // JIC
        }
      }
    }
  }
}
// ** single listing
.property_sidebar_container #google_map_on_list .info_details .prop_pricex {
  display: none;
}
.content_wrapper.listing_wrapper {
  .category_wrapper {
    .category_details_wrapper {
      a[rel="tag"] {
        //margin-right: 0px;
      }
    }
  }
  #listing_description .panel-body {
    //max-height: 100%!important; // over-write the show less
    //overflow: initial!important;
  }
  #view_more_desc {
    display: block;
  }
  .listing_detail.list_detail_prop_area,
  .listing_detail.list_detail_prop_status,
  .listing_detail.list_detail_prop_id {
    display: none;
  }
  .widget-area-sidebar.listing_type_1 {
    .property_sidebar_container {
      clear: both;
      padding-top: 10px;
      h3.panel-title {
        font-size: 20px;
        font-weight: 600;
        color: #5d6475;
        margin-bottom: 15px;
      }
    }
  }

}

// user dashboard for editing & new
.user_dashboard_panel {
  label[for="property_rooms"],
  #property_rooms {
    display: none;
  }
}
/**** advanced search *****/
// advanced search box on archive
#advanced_search_map_list {
  #extended_search_check_filter {
    display: block;
  }
}
#google_map_prop_list {
  .mybox {
    .info_details {
      .prop_pricex {
        display: none; // hide the price on the box on google map.
      }
    }
  }
}
