// our themes sytling.
.widget_woothemes_our_team {
	.team-members.columns-3 {
		.team-member {
			width: 30%;
		}
		 .team-member.last {
		 }
		.team-member.first {	
		}
	}
	.team-members {
		.team-member {
			float: left;
			padding: 10px;
			margin-right: 2%;
			vertical-align: top;
			text-align: center;
			h3.member {
				margin-bottom: 0px;
				padding-top: 10px;
			}
			.role {
				margin-top: 0px;
			}
			.team-member-text {
				ul.author-details {
					list-style: none;
					margin-left: 0px;
					margin-top: 0px;
					li {
						margin-top: 0px;
						border-bottom: 0px;
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 481px) {
	.widget_woothemes_our_team {
		max-width: 90%;
		margin: auto;
		.team-member {

		}
		.team-member.last {
			margin-right: 0px;
		}
	 .team-member.first {
		 clear: both;
	 }
	}
}
@media only screen and (max-width: 480px) {
	.widget_woothemes_our_team {
		.team-members.columns-3 {
			.team-member {
				width: 48%;
			}
			.team-member:nth-child(even);
			clear: both;
		}
	}
}
