/* settings styles */

.btn-shape-square{
  border-radius: 0px;
}
.btn-size-lg {
  font-size:18px;
  padding: 18px 25px;
}
.btn-asis {
  text-transform: none;
  box-shadow: none;
  -webkit-box-shape: none;
}

.lsr-button-square {
  a.vc_btn3-shape-rounded {
    border-radius: 0px;
  }
}
